/*!
 * Scrumit
 * Copyright (C) 2019  Bram Ceulemans (bramceulemans@me.com)
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 */
/*
// Arrow on selected menu item
content: "";
right: 0;
top: 50%;
border: solid transparent;
position: absolute;
height: 0;
width: 0;
border-width: 24px 12px 24px 0px;
border-right-color: orange;
margin-top: -30px;
*/
$mat-background-color: #303030;
$v-font-color: #F5F5F5;
$v-focus-color: #FF5722;
$v-gradient: false;
$v-bevel: false;
$mat-loading-animation-speed: 1.5s;

//noinspection CssUnknownTarget
@import "/VAADIN/themes/material/material.scss";
@import "mobile";

@mixin scrumit() {
    @include material;
    @include mobile;

    .valo-menu {
        background-color: darken($v-app-background-color, 5%);

        .valo-menu-title {
            @include valo-gradient($color: $v-focus-color);
            border-bottom: valo-border($color: $v-focus-color);
            margin-bottom: 0;

            .v-caption {
                $font-color: valo-font-color($v-focus-color, 1);
                padding: 0;
                font-size: $v-font-size--h2;
                line-height: 54px;
            }

            .v-image {
                display: none;
            }
        }

        .v-menubar-user-menu {
            margin: 0.75em 0;

            .v-menubar-menuitem-caption {
                line-height: 2.75em;
            }
        }

        .valo-menuitems {
            .valo-menu-item {
                text-align: center;
                white-space: normal;
                margin: 0;
                padding: 1em 0;

                .v-icon {
                    font-size: 2.25em;
                    line-height: normal;
                    margin: 0;
                }

                .valo-menu-item-caption {
                    padding: 0;
                }
            }
        }
    }

    .v-panel#view-content {
        border-radius: 0;
    }

    //.v-grid {
    //  .v-grid-tablewrapper {
    //    .v-grid-body {
    //      .v-grid-row-stripe {
    //        background-color: darken($v-grid-row-background-color, 5%);
    //      }
    //    }
    //  }
    //}
}
