<!--
  ~ Scrumit
  ~ Copyright (C) 2019  Bram Ceulemans (bramceulemans@me.com)
  ~
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation; either version 2 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, write to the Free Software Foundation, Inc.,
  ~ 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
  -->

<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--/*@thymesVar id="name" type="java.lang.String"*/-->
    <title th:text="${name}"></title>
    <link href="https://bootswatch.com/4/lumen/bootstrap.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="css/login.css" rel="stylesheet" type="text/css"/>
    <link href="icons/favicon.ico" rel="shortcut icon"/>
    <link href="icons/favicon-192x192.png" rel="icon" sizes="192x192"/>
    <link href="/icons/favicon-512x512.png" rel="icon" sizes="512x512"/>
    <link href="icons/favicon-192x192.png" rel="apple-touch-icon" sizes="192x192"/>
    <meta content="width=device-width,initial-scale=1.0,user-scalable=no" name="viewport"/>
    <meta content="yes" name="mobile-web-app-capable"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
</head>
<body>
<div class="container">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="">
                        <!--/*@thymesVar id="name" type="java.lang.String"*/-->
                        <h5 class="card-title" th:text="${name}"></h5>
                        <!--/*@thymesVar id="description" type="java.lang.String"*/-->
                        <h6 class="card-substitle mb-2 text-muted" th:text="${description}">
                            Rijn IJssel's scrum application
                        </h6>
                    </div>
                    <hr/>
                    <div class="alert alert-danger d-none" id="failed-message">
                        <p>The email and password you entered do not match our records.</p>
                    </div>
                    <div class="alert alert-success d-none" id="password-changed-message">
                        <p>Your password has been changed, you need to reauthenticate.</p>
                    </div>
                    <form action="sign-in" method="post">
                        <div class="form-group">
                            <label for="email-field">Email</label>
                            <input type="email" class="form-control" id="email-field" name="email"
                                   placeholder="Email"
                                   required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="password-field">Password</label>
                            <input type="password" class="form-control" id="password-field"
                                   name="password"
                                   placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign In</button>
                        <button type="reset" class="btn">Reset</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script async src="js/login.js"></script>
</body>
</html>
